<!-- <ol class="breadcrumb breadcrumb-arrow font-trirong">
    <li><a href="javascript://" [routerLink]="['/cns-portal/dashboard/order']"><clr-icon shape="home"></clr-icon></a></li>
    <li><a href="javascript://"  [routerLink]="['/cns-portal/project/all']"> <clr-icon shape="flag"></clr-icon>  Projects</a></li>
    <li><a href="javascript://" > <clr-icon  shape="objects"></clr-icon>  Repositories</a></li>
    <li><a href="javascript://" ><clr-icon shape="grid-view"></clr-icon>  Components</a></li>
    <li><a href="javascript://"><clr-icon shape="application"></clr-icon>  Wireframe</a></li>
</ol> -->

<div style="display: inline;">
  <button class="btn componentbtn" (click)="toggleMenu()" *ngIf="!fromRunner"><clr-icon shape="plus"></clr-icon>component</button>
  <button class="btn btn-primary" (click)="openCommonFilterModal()" style="margin-left: 10px;" *ngIf="!fromRunner">
    <clr-icon shape="filter"></clr-icon> Common Filter
  </button>
  <div style="display: inline;">
    {{dashboardName}}
  </div>
  <div style="display: inline; float: right;">
    <!-- <button class="btn btn-primary">Build</button>
      <button class="btn btn-primary" (click)="onSchedule()">Schedule</button> -->
    <button class="btn btn-success" (click)="testDynamicChartCreation()" style="margin-left: 10px;" *ngIf="!fromRunner">
      <clr-icon shape="test"></clr-icon> Test Dynamic Chart
    </button>
  </div>

</div>

<div class="content-container">
  <nav class="sidenav" *ngIf="toggle && !fromRunner" style="width: 16%;">
    <ul class="nav-list" style="list-style-type: none;">
      <li *ngFor="let widget of WidgetsMock">

        <!--
          Draggable widget from store using vanilla javascript event (dragstart)
          onDrag() is call, it take $event and a widget identifier as parameters
        -->
        <a draggable="true" class="nav-link" (dragstart)="onDrag($event, widget.identifier)">
          <clr-icon shape="drag-handle" style="margin-right: 10px;"></clr-icon>
          {{ widget.name }}
          <clr-icon shape="plugin" class="has-badge"></clr-icon>
        </a>
      </li>
    </ul>
  </nav>
  <div style="width: 100%;">
    <!-- Remove the (drop) event binding since it's already handled by gridster's emptyCellDropCallback -->
    <gridster [options]="options" style="background-color: transparent;">
      <gridster-item [item]="item" *ngFor="let item of dashboardArray">
        <!-- <ng-container *ngIf="addToDashboard && item.addToDashboard"> -->
        <button class="btn btn-icon btn-danger" style="margin-left: 10px; margin-top: 10px;" (click)="removeItem(item)" *ngIf="!fromRunner">
          <clr-icon shape="trash"></clr-icon>
        </button>
        <button class="btn btn-icon drag-handler" style="margin-left: 10px; margin-top: 10px;" *ngIf="!fromRunner">
          <clr-icon shape="drag-handle"></clr-icon>
        </button>

        <button class="btn btn-icon" style="margin-top: 10px; float: right;" *ngIf="!fromRunner">
          <input type="checkbox" clrToggle [(ngModel)]="item.addToDashboard" name="addToDashboardSwitch"
            (change)="toggleAddToDashboard(item)" />
        </button>

        <!-- <label for="workflow_name">Add to Dasboard</label>
              <input class="btn btn-icon" style="margin-top: 10px;float: right;"  type="checkbox" clrToggle value="billable" name="billable" />
            -->
        <button class="btn btn-icon" style="margin-top: 10px;float: right;" (click)="editGadget(item)" *ngIf="!fromRunner">
          <clr-icon shape="pencil"></clr-icon>
        </button>

        <h4 style="margin-top: 0px; margin-left: 10px;">{{item.name}}</h4>
        <ndc-dynamic class="no-drag" [ndcDynamicComponent]="item.component" [ndcDynamicInputs]="getChartInputs(item)"
          (moduleInfo)="display($event)"></ndc-dynamic>
        <!-- </ng-container> -->

      </gridster-item>
    </gridster>
  </div>
</div>
<div style="text-align: center;">
  <button class="btn btn-outline" (click)="goBack()">Back</button>
  <button type="submit" class="btn btn-primary btn-adddata " (click)="UpdateLine()" *ngIf="!fromRunner">
    <b>Update</b>
  </button>
</div>


<clr-modal [(clrModalOpen)]="modeledit" [clrModalStaticBackdrop]="true">
  <h3 class="modal-title">Configure Chart</h3>
  <div class="modal-body">
    <form [formGroup]="entryForm" class="clr-form-horizontal">
      <div class="clr-row">
        <div class="clr-col-sm-12">
          <label for="charttitle">Chart Title</label>
          <input id="chartparameter" type="text" formControlName="charttitle" class="clr-input"
            [(ngModel)]="gadgetsEditdata.charttitle">
        </div>
      </div>


      <!-- Compact Filter Configuration (shown only for Compact Filter components) -->
      <div class="clr-row" *ngIf="gadgetsEditdata?.fieldName === 'Compact Filter'">
        <div class="clr-col-sm-12">
          <h4>Compact Filter Configuration</h4>

          <div class="clr-row">
            <div class="clr-col-sm-12">
              <label for="compactFilterConnection">Connection</label>
              <select id="compactFilterConnection" class="clr-select" [(ngModel)]="gadgetsEditdata.connection"
                (ngModelChange)="onCompactFilterConnectionChange($event)" [ngModelOptions]="{standalone: true}">
                <option value="">Select Connection</option>
                <option *ngFor="let conn of sureconnectData" [value]="conn.id">
                  {{conn.connection_name || conn.id}}
                </option>
              </select>
              <div class="clr-subtext">Select a connection for this compact filter</div>
            </div>
          </div>

          <div class="clr-row" style="margin-top: 10px;">
            <div class="clr-col-sm-12">
              <label for="compactFilterApiUrl">API URL</label>
              <div>
                <input type="text" id="compactFilterApiUrl" class="clr-input" [(ngModel)]="gadgetsEditdata.table"
                  (ngModelChange)="onCompactFilterApiUrlChange($event)" [ngModelOptions]="{standalone: true}"
                  placeholder="Enter API URL">
                <span>
                  <button class="btn btn-icon btn-primary" style="margin: 0px;"
                    (click)="loadAvailableKeys(gadgetsEditdata.table, gadgetsEditdata.connection)"
                    [disabled]="!gadgetsEditdata.table">
                    <clr-icon shape="redo"></clr-icon>
                  </button>
                </span>
              </div>
              <div class="clr-subtext">Enter the API URL to fetch data for this filter</div>
            </div>
          </div>

          <div class="clr-row" style="margin-top: 10px;">
            <div class="clr-col-sm-12">
              <label for="filterKey">Filter Key</label>
              <select id="filterKey" class="clr-select" [(ngModel)]="gadgetsEditdata.filterKey"
                (ngModelChange)="onFilterKeyChange($event)" [ngModelOptions]="{standalone: true}">
                <option value="">Select Filter Key</option>
                <option *ngFor="let key of availableKeys" [value]="key">{{ key }}</option>
              </select>
              <div class="clr-subtext">Select the field name to filter on</div>
            </div>
          </div>

          <div class="clr-row" style="margin-top: 10px;">
            <div class="clr-col-sm-12">
              <label for="filterType">Filter Type</label>
              <select id="filterType" class="clr-select" [(ngModel)]="gadgetsEditdata.filterType"
                (ngModelChange)="onFilterTypeChange($event)" [ngModelOptions]="{standalone: true}">
                <option value="text">Text</option>
                <option value="dropdown">Dropdown</option>
                <option value="multiselect">Multi-Select</option>
                <option value="date-range">Date Range</option>
                <option value="toggle">Toggle</option>
              </select>
              <div class="clr-subtext">Select the type of filter control to display</div>
            </div>
          </div>

          <div class="clr-row" style="margin-top: 10px;">
            <div class="clr-col-sm-12">
              <label for="filterLabel">Filter Label (Optional)</label>
              <input type="text" id="filterLabel" class="clr-input" [(ngModel)]="gadgetsEditdata.filterLabel"
                [ngModelOptions]="{standalone: true}" placeholder="Enter filter label">
              <div class="clr-subtext">Label to display for this filter in the UI (if not provided, filter key will be
                used)</div>
            </div>
          </div>

          <div class="clr-row" style="margin-top: 10px;"
            *ngIf="gadgetsEditdata.filterType === 'dropdown' || gadgetsEditdata.filterType === 'multiselect'">
            <div class="clr-col-sm-12">
              <label for="filterOptions">Filter Options (comma separated)</label>
              <input type="text" id="filterOptions" class="clr-input" [(ngModel)]="filterOptionsString"
                [ngModelOptions]="{standalone: true}" placeholder="Option1,Option2,Option3">
              <div class="clr-subtext">Comma-separated list of options for dropdown/multiselect filters</div>
              <div class="clr-subtext" *ngIf="gadgetsEditdata.filterKey">
                <strong>Available values for "{{ gadgetsEditdata.filterKey }}":</strong> {{ filterOptionsString }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="clr-row" *ngIf="gadgetsEditdata?.fieldName  !== 'Compact Filter'"
        style="margin-top: 20px; padding-top: 15px; border-top: 1px solid #ddd;">

        <!-- Add Connection Selection Field -->
        <div class="clr-row">
          <div class="clr-col-sm-12">
            <label for="connection">Connection</label>
            <select id="connection" formControlName="connection" [(ngModel)]="gadgetsEditdata.connection"
              class="clr-select">
              <option value="">Select Connection</option>
              <option *ngFor="let conn of sureconnectData" [value]="conn.id">
                {{conn.connection_name || conn.id}}
              </option>
            </select>
            <div class="clr-subtext">Select a SureConnect connection to use for this chart</div>
          </div>
        </div>

        <div class="clr-row"
          *ngIf="gadgetsEditdata?.fieldName !== 'Grid View' && gadgetsEditdata?.fieldName !== 'To Do Chart'">
          <div class="clr-col-sm-12">
            <div class="clr-form-control" style="margin-top: 5px;margin-bottom: 10px;">
              <div class="clr-control-container">
                <!-- <div class="clr-checkbox-wrapper">
                <input type="checkbox" id="slices" formControlName="slices" [(ngModel)]="gadgetsEditdata.slices" class="clr-checkbox" />
                <label for="slices" class="clr-control-label">Show colors in gradient</label>
                </div> -->
                <!-- <div class="clr-checkbox-wrapper">
                <input type="checkbox" id="chartcolor" formControlName="chartcolor" [(ngModel)]="gadgetsEditdata.chartcolor" class="clr-checkbox" />
                <label for="chartcolor" class="clr-control-label">Show colors in gradient</label>
              </div> -->
                <!-- <div class="clr-checkbox-wrapper">
                <input type="checkbox" id="donut" formControlName="donut"[(ngModel)]="gadgetsEditdata.donut" class="clr-checkbox" />
                <label for="donut" class="clr-control-label">Show donut</label>
              </div> -->
                <div class="clr-checkbox-wrapper">
                  <input type="checkbox" id="chartlegend" formControlName="chartlegend"
                    [(ngModel)]="gadgetsEditdata.chartlegend" class="clr-checkbox" />
                  <label for="chartlegend" class="clr-control-label">Show Chart Legend</label>
                </div>
                <div class="clr-checkbox-wrapper">
                  <input type="checkbox" id="showlabel" formControlName="showlabel"
                    [(ngModel)]="gadgetsEditdata.showlabel" class="clr-checkbox" />
                  <label for="showlabel" class="clr-control-label">Show Chart Label</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="clr-row">
        <div class="clr-col-sm-12">
          <label for="datasource">Data Store</label>
          <select formControlName="datastore" [(ngModel)]="gadgetsEditdata.datastore" (change)="storename($event.target.value)">
            <option [value]="null">Choose Store</option>
            <option *ngFor="let data of storedata" [value]="data.id">{{data.data_store_name}}</option>
            </select>
        </div>
      </div> -->

        <div class="clr-row">
          <div class="clr-col-sm-12">
            <label for="table">Api Url</label>
            <div><input type="urk" id="table" formControlName="table" class="clr-input"
                [(ngModel)]="gadgetsEditdata.table" style="width:90%">&nbsp;<span><button
                  class="btn btn-icon btn-primary" style="margin: 0px;" (click)="callApi(gadgetsEditdata.table)">
                  <clr-icon shape="redo"></clr-icon> </button></span></div>
            <!-- <select  id="table" formControlName="table" [(ngModel)]="gadgetsEditdata.table" (change)="tablename($event.target.value)">
            <option value="null">choose Table</option>
            <option *ngFor="let data of TableData" [value]="data">{{data}}</option>
           </select> -->
          </div>
        </div>
        <div class="clr-row"
          *ngIf="gadgetsEditdata?.fieldName !== 'Grid View'&& gadgetsEditdata?.fieldName !== 'To Do Chart'">
          <div class="clr-col-sm-12">
            <label for="xAxis">X-Axis <span
                *ngIf="gadgetsEditdata?.fieldName === 'Bubble Chart' || gadgetsEditdata?.fieldName === 'Scatter Chart' ">(Numeric)</span></label>
            <!-- <input id="xAxis" type="text" formControlName="xAxis" class="clr-input" [(ngModel)]="gadgetsEditdata.xAxis"> -->
            <select id="xAxis" formControlName="xAxis" [(ngModel)]="gadgetsEditdata.xAxis">
              <option value="null">choose Column</option>
              <option *ngFor="let data of columnData" [value]="data">{{data}}</option>
            </select>
          </div>
        </div>
        <div class="clr-row"
          *ngIf="gadgetsEditdata?.fieldName !== 'Pie Chart' && gadgetsEditdata?.fieldName !== 'Polar Area Chart' && gadgetsEditdata?.fieldName !== 'To Do Chart'">
          <div class="clr-col-sm-12">
            <label for="yAxis" *ngIf="gadgetsEditdata?.fieldName === 'Grid View'; else yaxislable">Columns</label>
            <ng-template #yaxislable>
              <label for="yAxis">Y-Axis (Numeric)</label>
            </ng-template>

            <!-- <input id="yAxis" type="text" formControlName="yAxis" class="clr-input" [(ngModel)]="gadgetsEditdata.yAxis"> -->
            <clr-combobox-container style="margin-top: 10px !important;">
              <clr-combobox id="yAxis" [(ngModel)]="selectedyAxis" formControlName="yAxis" clrMulti="true" required>
                <ng-container *clrOptionSelected="let selected;let i = alias">
                  {{selected}}
                </ng-container>
                <clr-options>
                  <clr-option *clrOptionItems="let state of columnData" [clrValue]="state">
                    {{state}}
                  </clr-option>
                </clr-options>
              </clr-combobox>
            </clr-combobox-container>
          </div>
        </div>

        <div class="clr-row"
          *ngIf="gadgetsEditdata?.fieldName == 'Pie Chart' || gadgetsEditdata?.fieldName == 'Polar Area Chart' || gadgetsEditdata?.fieldName == 'To Do Chart'">
          <div class="clr-col-sm-12">
            <label for="yAxis">Y-Axis (Numeric)</label>
            <select id="yAxis" formControlName="yAxis" [(ngModel)]="gadgetsEditdata.yAxis">
              <option value="null">choose Column</option>
              <option *ngFor="let data of columnData" [value]="data">{{data}}</option>
            </select>
          </div>
        </div>

        <!-- Base API Filters -->
        <div class="clr-row" style="margin-top: 15px;">
          <div class="clr-col-sm-12">
            <h5>Base API Filters</h5>
            <div class="clr-subtext">Configure filters for the main API (applied regardless of drilldown settings)</div>

            <!-- Common Filter Toggle -->
            <div class="clr-form-control" style="margin-top: 10px;">
              <div class="clr-control-container">
                <div class="clr-checkbox-wrapper">
                  <input type="checkbox" id="commonFilterToggle" [(ngModel)]="gadgetsEditdata.commonFilterEnabled"
                    (change)="onCommonFilterToggle()" [ngModelOptions]="{standalone: true}" class="clr-checkbox" />
                  <label for="commonFilterToggle" class="clr-control-label">Use Common Filter</label>
                </div>
              </div>
            </div>

            <!-- Add Base Filter Button -->
            <button class="btn btn-sm btn-primary" (click)="addBaseFilter()"
              style="margin-top: 10px; margin-bottom: 10px;" [disabled]="gadgetsEditdata.commonFilterEnabled">
              <clr-icon shape="plus"></clr-icon> Add Filter
            </button>

            <!-- Base Filter Fields List -->
            <div *ngFor="let filter of gadgetsEditdata.baseFilters; let i = index"
              style="margin-bottom: 10px; padding: 8px; border: 1px solid #eee; border-radius: 4px; background-color: #f9f9f9;">
              <div style="display: flex; justify-content: space-between; align-items: center;">
                <span>Filter {{i + 1}}</span>
                <button class="btn btn-icon btn-danger btn-sm" (click)="removeBaseFilter(i)"
                  [disabled]="gadgetsEditdata.commonFilterEnabled">
                  <clr-icon shape="trash"></clr-icon>
                </button>
              </div>

              <div class="clr-row" style="margin-top: 8px;">
                <div class="clr-col-sm-4">
                  <select [(ngModel)]="filter.field" (ngModelChange)="onBaseFilterFieldChange(i, $event)" [ngModelOptions]="{standalone: true}" class="clr-select"
                    [disabled]="gadgetsEditdata.commonFilterEnabled">
                    <option value="">Select Field</option>
                    <!-- Base API filters should always use columnData, not drilldownColumnData -->
                    <option *ngFor="let column of getAvailableFields(gadgetsEditdata.baseFilters, i, columnData)"
                      [value]="column">{{column}}</option>
                  </select>
                </div>

                <div class="clr-col-sm-3">
                  <select [(ngModel)]="filter.type" (ngModelChange)="onBaseFilterTypeChange(i, $event)" [ngModelOptions]="{standalone: true}" class="clr-select"
                    [disabled]="gadgetsEditdata.commonFilterEnabled">
                    <option value="text">Text</option>
                    <option value="dropdown">Dropdown</option>
                    <option value="multiselect">Multi-Select</option>
                    <option value="date-range">Date Range</option>
                    <option value="toggle">Toggle</option>
                  </select>
                </div>

                <div class="clr-col-sm-3" *ngIf="filter.type === 'dropdown' || filter.type === 'multiselect'">
                  <input type="text" [(ngModel)]="filter.options" [ngModelOptions]="{standalone: true}" class="clr-input"
                    placeholder="Option1,Option2,Option3" [disabled]="gadgetsEditdata.commonFilterEnabled" />
                  <div class="clr-subtext" *ngIf="filter.availableValues">
                    Available: {{ filter.availableValues }}
                  </div>
                </div>

                <div class="clr-col-sm-3" *ngIf="filter.type !== 'dropdown' && filter.type !== 'multiselect'">
                  <input type="text" [(ngModel)]="filter.value" [ngModelOptions]="{standalone: true}" class="clr-input"
                    placeholder="Filter Value" [disabled]="gadgetsEditdata.commonFilterEnabled" />
                </div>

                <div class="clr-col-sm-2">
                  <button class="btn btn-icon btn-danger btn-sm" (click)="removeBaseFilter(i)"
                    [disabled]="gadgetsEditdata.commonFilterEnabled">
                    <clr-icon shape="trash"></clr-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Base Drilldown Configuration Section -->
        <div class="clr-row" style="margin-top: 20px; padding-top: 15px; border-top: 1px solid #ddd;">
          <div class="clr-col-sm-12">
            <h4>Base Drilldown Configuration</h4>
            <div class="clr-form-control">
              <div class="clr-control-container">
                <div class="clr-checkbox-wrapper">
                  <input type="checkbox" id="drilldownEnabled" formControlName="drilldownEnabled"
                    [(ngModel)]="gadgetsEditdata.drilldownEnabled" class="clr-checkbox"
                    (change)="gadgetsEditdata.drilldownEnabled ? null : resetDrilldownConfiguration()" />
                  <label for="drilldownEnabled" class="clr-control-label">Enable Base Drilldown</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="clr-row" *ngIf="gadgetsEditdata.drilldownEnabled">
          <div class="clr-col-sm-12">
            <label for="drilldownApiUrl">Base Drilldown API URL</label>
            <div>
              <input type="text" id="drilldownApiUrl" formControlName="drilldownApiUrl" class="clr-input"
                [(ngModel)]="gadgetsEditdata.drilldownApiUrl" style="width:90%"
                [ngModelOptions]="{standalone: true}">&nbsp;
              <span>
                <button class="btn btn-icon btn-primary" style="margin: 0px;" (click)="refreshBaseDrilldownColumns()"
                  [disabled]="!gadgetsEditdata.drilldownApiUrl">
                  <clr-icon shape="redo"></clr-icon>
                </button>
              </span>
            </div>
            <div class="clr-subtext">Enter the API URL for base drilldown data. Use angle brackets for parameters, e.g.,
              http://api.example.com/data/&lt;country&gt;</div>
          </div>
        </div>

        <div class="clr-row" *ngIf="gadgetsEditdata.drilldownEnabled">
          <div class="clr-col-sm-12">
            <label for="drilldownXAxis">Base Drilldown X-Axis</label>
            <select id="drilldownXAxis" formControlName="drilldownXAxis" [(ngModel)]="gadgetsEditdata.drilldownXAxis"
              [ngModelOptions]="{standalone: true}">
              <option value="">Select X-Axis Column</option>
              <option *ngFor="let column of drilldownColumnData" [value]="column">{{column}}</option>
            </select>
            <div class="clr-subtext">Select the column to use for X-axis in base drilldown view</div>
          </div>
        </div>

        <div class="clr-row" *ngIf="gadgetsEditdata.drilldownEnabled && 
        gadgetsEditdata?.fieldName !== 'Pie Chart' && 
        gadgetsEditdata?.fieldName !== 'Polar Area Chart' && 
        gadgetsEditdata?.fieldName !== 'To Do Chart'">
          <div class="clr-col-sm-12">
            <label for="drilldownYAxis">Base Drilldown Y-Axis</label>
            <select id="drilldownYAxis" formControlName="drilldownYAxis" [(ngModel)]="gadgetsEditdata.drilldownYAxis"
              [ngModelOptions]="{standalone: true}">
              <option value="">Select Y-Axis Column</option>
              <option *ngFor="let column of drilldownColumnData" [value]="column">{{column}}</option>
            </select>
            <div class="clr-subtext">Select the column to use for Y-axis in base drilldown view</div>
          </div>
        </div>

        <!-- Base Drilldown Parameter Configuration -->
        <div class="clr-row" *ngIf="gadgetsEditdata.drilldownEnabled">
          <div class="clr-col-sm-12">
            <label for="drilldownParameter">Base Drilldown Parameter</label>
            <select id="drilldownParameter" [(ngModel)]="gadgetsEditdata.drilldownParameter"
              [ngModelOptions]="{standalone: true}">
              <option value="">Select Parameter Column</option>
              <option *ngFor="let column of drilldownColumnData" [value]="column">{{column}}</option>
            </select>
            <div class="clr-subtext">Select the column to use as parameter for URL template replacement in base
              drilldown
            </div>
          </div>
        </div>

        <!-- Base Drilldown Filter Configuration -->
        <div class="clr-row" *ngIf="gadgetsEditdata.drilldownEnabled" style="margin-top: 15px;">
          <div class="clr-col-sm-12">
            <h5>Base Drilldown Filters</h5>
            <div class="clr-subtext">Configure filters for the base drilldown level</div>

            <!-- Common Filter Toggle for Base Drilldown -->
            <div class="clr-form-control" style="margin-top: 10px;">
              <div class="clr-control-container">
                <div class="clr-checkbox-wrapper">
                  <input type="checkbox" id="commonFilterToggleDrilldown"
                    [(ngModel)]="gadgetsEditdata.commonFilterEnabledDrilldown"
                    (change)="onCommonFilterToggleDrilldown()" [ngModelOptions]="{standalone: true}"
                    class="clr-checkbox" />
                  <label for="commonFilterToggleDrilldown" class="clr-control-label">Use Common Filter</label>
                </div>
              </div>
            </div>

            <!-- Add Drilldown Filter Button -->
            <button class="btn btn-sm btn-primary" (click)="addDrilldownFilter()"
              style="margin-top: 10px; margin-bottom: 10px;" [disabled]="gadgetsEditdata.commonFilterEnabledDrilldown">
              <clr-icon shape="plus"></clr-icon> Add Filter
            </button>

            <!-- Drilldown Filter Fields List -->
            <div *ngFor="let filter of gadgetsEditdata.drilldownFilters; let i = index"
              style="margin-bottom: 10px; padding: 8px; border: 1px solid #eee; border-radius: 4px; background-color: #f9f9f9;">
              <div style="display: flex; justify-content: space-between; align-items: center;">
                <span>Filter {{i + 1}}</span>
                <button class="btn btn-icon btn-danger btn-sm" (click)="removeDrilldownFilter(i)"
                  [disabled]="gadgetsEditdata.commonFilterEnabledDrilldown">
                  <clr-icon shape="trash"></clr-icon>
                </button>
              </div>

              <div class="clr-row" style="margin-top: 8px;">
                <div class="clr-col-sm-4">
                  <select [(ngModel)]="filter.field" (ngModelChange)="onDrilldownFilterFieldChange(i, $event)" [ngModelOptions]="{standalone: true}" class="clr-select"
                    [disabled]="gadgetsEditdata.commonFilterEnabledDrilldown">
                    <option value="">Select Field</option>
                    <option
                      *ngFor="let column of getAvailableFields(gadgetsEditdata.drilldownFilters, i, drilldownColumnData)"
                      [value]="column">{{column}}</option>
                  </select>
                </div>

                <div class="clr-col-sm-3">
                  <select [(ngModel)]="filter.type" (ngModelChange)="onDrilldownFilterTypeChange(i, $event)" [ngModelOptions]="{standalone: true}" class="clr-select"
                    [disabled]="gadgetsEditdata.commonFilterEnabledDrilldown">
                    <option value="text">Text</option>
                    <option value="dropdown">Dropdown</option>
                    <option value="multiselect">Multi-Select</option>
                    <option value="date-range">Date Range</option>
                    <option value="toggle">Toggle</option>
                  </select>
                </div>

                <div class="clr-col-sm-3" *ngIf="filter.type === 'dropdown' || filter.type === 'multiselect'">
                  <input type="text" [(ngModel)]="filter.options" [ngModelOptions]="{standalone: true}" class="clr-input"
                    placeholder="Option1,Option2,Option3" [disabled]="gadgetsEditdata.commonFilterEnabledDrilldown" />
                  <div class="clr-subtext" *ngIf="filter.availableValues">
                    Available: {{ filter.availableValues }}
                  </div>
                </div>

                <div class="clr-col-sm-3" *ngIf="filter.type !== 'dropdown' && filter.type !== 'multiselect'">
                  <input type="text" [(ngModel)]="filter.value" [ngModelOptions]="{standalone: true}" class="clr-input"
                    placeholder="Filter Value" [disabled]="gadgetsEditdata.commonFilterEnabledDrilldown" />
                </div>

                <div class="clr-col-sm-2">
                  <button class="btn btn-icon btn-danger btn-sm" (click)="removeDrilldownFilter(i)"
                    [disabled]="gadgetsEditdata.commonFilterEnabledDrilldown">
                    <clr-icon shape="trash"></clr-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>



        <!-- Multi-Layer Drilldown Configurations -->
        <div class="clr-row" *ngIf="gadgetsEditdata.drilldownEnabled"
          style="margin-top: 20px; padding-top: 15px; border-top: 1px solid #ddd;">
          <div class="clr-col-sm-12">
            <h4>Multi-Layer Drilldown Configurations</h4>
            <button class="btn btn-sm btn-primary" (click)="addDrilldownLayer()">
              <clr-icon shape="plus"></clr-icon> Add Drilldown Layer
            </button>
            <div class="clr-subtext">Add additional drilldown layers for multi-level navigation</div>
          </div>
        </div>

        <!-- Dynamic Drilldown Layers -->
        <div class="clr-row" *ngFor="let layer of gadgetsEditdata.drilldownLayers; let i = index">
          <div class="clr-col-sm-12"
            style="margin-top: 15px; padding: 10px; border: 1px solid #eee; border-radius: 4px;">
            <div style="display: flex; justify-content: space-between; align-items: center;">
              <h5>Drilldown Layer {{i + 1}}</h5>
              <button class="btn btn-icon btn-danger btn-sm" (click)="removeDrilldownLayer(i)">
                <clr-icon shape="trash"></clr-icon>
              </button>
            </div>

            <div class="clr-form-control">
              <div class="clr-control-container">
                <div class="clr-checkbox-wrapper">
                  <input type="checkbox" [id]="'layerEnabled' + i" [(ngModel)]="layer.enabled" class="clr-checkbox"
                    [ngModelOptions]="{standalone: true}" />
                  <label [for]="'layerEnabled' + i" class="clr-control-label">Enable Layer {{i + 1}} Drilldown</label>
                </div>
              </div>
            </div>

            <div class="clr-row">
              <div class="clr-col-sm-12">
                <label [for]="'layerApiUrl' + i">Layer {{i + 1}} API URL</label>
                <div>
                  <input type="text" [id]="'layerApiUrl' + i" class="clr-input" [(ngModel)]="layer.apiUrl"
                    style="width:90%" [ngModelOptions]="{standalone: true}">&nbsp;
                  <span>
                    <button class="btn btn-icon btn-primary" style="margin: 0px;"
                      (click)="refreshDrilldownLayerColumns(i)" [disabled]="!layer.apiUrl">
                      <clr-icon shape="redo"></clr-icon>
                    </button>
                  </span>
                </div>
                <div class="clr-subtext">Enter the API URL for layer {{i + 1}} drilldown data. Use angle brackets for
                  parameters, e.g., http://api.example.com/data/&lt;state&gt;</div>
              </div>
            </div>

            <div class="clr-row">
              <div class="clr-col-sm-12">
                <label [for]="'layerXAxis' + i">Layer {{i + 1}} X-Axis</label>
                <select [id]="'layerXAxis' + i" [(ngModel)]="layer.xAxis" [ngModelOptions]="{standalone: true}">
                  <option value="">Select X-Axis Column</option>
                  <option *ngFor="let column of layerColumnData[i] || []" [value]="column">{{column}}</option>
                </select>
                <div class="clr-subtext">Select the column to use for X-axis in layer {{i + 1}} drilldown view</div>
              </div>
            </div>

            <div class="clr-row" *ngIf="gadgetsEditdata?.fieldName !== 'Pie Chart' && 
            gadgetsEditdata?.fieldName !== 'Polar Area Chart' && 
            gadgetsEditdata?.fieldName !== 'To Do Chart'">
              <div class="clr-col-sm-12">
                <label [for]="'layerYAxis' + i">Layer {{i + 1}} Y-Axis</label>
                <select [id]="'layerYAxis' + i" [(ngModel)]="layer.yAxis" [ngModelOptions]="{standalone: true}">
                  <option value="">Select Y-Axis Column</option>
                  <option *ngFor="let column of layerColumnData[i] || []" [value]="column">{{column}}</option>
                </select>
                <div class="clr-subtext">Select the column to use for Y-axis in layer {{i + 1}} drilldown view</div>
              </div>
            </div>

            <!-- Parameter Selection for Drilldown Layer -->
            <div class="clr-row">
              <div class="clr-col-sm-12">
                <label [for]="'layerParameter' + i">Layer {{i + 1}} Parameter</label>
                <select [id]="'layerParameter' + i" [(ngModel)]="layer.parameter" [ngModelOptions]="{standalone: true}">
                  <option value="">Select Parameter Column</option>
                  <option *ngFor="let column of layerColumnData[i] || []" [value]="column">{{column}}</option>
                </select>
                <div class="clr-subtext">Select the column to use as parameter for URL template replacement in layer {{i
                  +
                  1}} drilldown</div>
              </div>
            </div>

            <!-- Layer Filter Configuration -->
            <div class="clr-row" style="margin-top: 15px;">
              <div class="clr-col-sm-12">
                <h5>Layer {{i + 1}} Filters</h5>
                <div class="clr-subtext">Configure filters for this drilldown layer</div>

                <!-- Common Filter Toggle for Layer -->
                <div class="clr-form-control" style="margin-top: 10px;">
                  <div class="clr-control-container">
                    <div class="clr-checkbox-wrapper">
                      <input type="checkbox" [id]="'commonFilterToggleLayer' + i"
                        [(ngModel)]="layer.commonFilterEnabled" (change)="onCommonFilterToggleLayer(i)"
                        [ngModelOptions]="{standalone: true}" class="clr-checkbox" />
                      <label [for]="'commonFilterToggleLayer' + i" class="clr-control-label">Use Common Filter</label>
                    </div>
                  </div>
                </div>

                <!-- Add Layer Filter Button -->
                <button class="btn btn-sm btn-primary" (click)="addLayerFilter(i)"
                  style="margin-top: 10px; margin-bottom: 10px;" [disabled]="layer.commonFilterEnabled">
                  <clr-icon shape="plus"></clr-icon> Add Filter
                </button>

                <!-- Layer Filter Fields List -->
                <div *ngFor="let filter of layer.filters; let j = index"
                  style="margin-bottom: 10px; padding: 8px; border: 1px solid #eee; border-radius: 4px; background-color: #f9f9f9;">
                  <div style="display: flex; justify-content: space-between; align-items: center;">
                    <span>Filter {{j + 1}}</span>
                    <button class="btn btn-icon btn-danger btn-sm" (click)="removeLayerFilter(i, j)"
                      [disabled]="layer.commonFilterEnabled">
                      <clr-icon shape="trash"></clr-icon>
                    </button>
                  </div>

                  <div class="clr-row" style="margin-top: 8px;">
                    <div class="clr-col-sm-4">
                      <select [(ngModel)]="filter.field" (ngModelChange)="onLayerFilterFieldChange(i, j, $event)" [ngModelOptions]="{standalone: true}" class="clr-select"
                        [disabled]="layer.commonFilterEnabled">
                        <option value="">Select Field</option>
                        <option *ngFor="let column of getAvailableFields(layer.filters, j, layerColumnData[i] || [])"
                          [value]="column">{{column}}</option>
                      </select>
                    </div>

                    <div class="clr-col-sm-3">
                      <select [(ngModel)]="filter.type" (ngModelChange)="onLayerFilterTypeChange(i, j, $event)" [ngModelOptions]="{standalone: true}" class="clr-select"
                        [disabled]="layer.commonFilterEnabled">
                        <option value="text">Text</option>
                        <option value="dropdown">Dropdown</option>
                        <option value="multiselect">Multi-Select</option>
                        <option value="date-range">Date Range</option>
                        <option value="toggle">Toggle</option>
                      </select>
                    </div>

                    <div class="clr-col-sm-3" *ngIf="filter.type === 'dropdown' || filter.type === 'multiselect'">
                      <input type="text" [(ngModel)]="filter.options" [ngModelOptions]="{standalone: true}" class="clr-input"
                        placeholder="Option1,Option2,Option3" [disabled]="layer.commonFilterEnabled" />
                      <div class="clr-subtext" *ngIf="filter.availableValues">
                        Available: {{ filter.availableValues }}
                      </div>
                    </div>

                    <div class="clr-col-sm-3" *ngIf="filter.type !== 'dropdown' && filter.type !== 'multiselect'">
                      <input type="text" [(ngModel)]="filter.value" [ngModelOptions]="{standalone: true}" class="clr-input"
                        placeholder="Filter Value" [disabled]="layer.commonFilterEnabled" />
                    </div>

                    <div class="clr-col-sm-2">
                      <button class="btn btn-icon btn-danger btn-sm" (click)="removeLayerFilter(i, j)"
                        [disabled]="layer.commonFilterEnabled">
                        <clr-icon shape="trash"></clr-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="clr-row">
        <div class="clr-col-sm-12">
          <label for="chartparameter">API parameter</label>
          <input id="chartparameter" type="text" formControlName="chartparameter" class="clr-input" [(ngModel)]="gadgetsEditdata.chartparameter">
        </div>
      </div> -->

      </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-outline" (click)="modeledit = false">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="applyChanges(modelid)">Apply</button>
          <button type="submit" class="btn btn-primary" (click)="onSubmit(modelid)">Save</button>
        </div>

    </form>
  </div>
</clr-modal>

<!-- Common Filter Modal -->
<clr-modal [(clrModalOpen)]="commonFilterModalOpen" [clrModalStaticBackdrop]="true" clrModalSize="lg">
  <h3 class="modal-title">Configure Common Filter</h3>
  <div class="modal-body">
    <form [formGroup]="commonFilterForm" class="clr-form-horizontal">
      <div class="clr-row">
        <div class="clr-col-sm-12">
          <label for="commonFilterConnection">Connection</label>
          <select id="commonFilterConnection" formControlName="connection" [(ngModel)]="commonFilterData.connection"
            class="clr-select">
            <option value="">Select Connection</option>
            <option *ngFor="let conn of sureconnectData" [value]="conn.id">
              {{conn.connection_name || conn.id}}
            </option>
          </select>
        </div>
      </div>

      <div class="clr-row">
        <div class="clr-col-sm-12">
          <label for="commonFilterApiUrl">API URL</label>
          <div>
            <input type="text" id="commonFilterApiUrl" formControlName="apiUrl" class="clr-input"
              [(ngModel)]="commonFilterData.apiUrl" style="width:90%">&nbsp;
            <span>
              <button class="btn btn-icon btn-primary" style="margin: 0px;" (click)="refreshCommonFilterColumns()"
                [disabled]="!commonFilterData.apiUrl">
                <clr-icon shape="redo"></clr-icon>
              </button>
            </span>
          </div>
        </div>
      </div>

      <!-- Common Filter Fields List -->
      <div class="clr-row" style="margin-top: 15px;">
        <div class="clr-col-sm-12">
          <h5>Common Filters</h5>

          <!-- Add Common Filter Button -->
          <button class="btn btn-sm btn-primary" (click)="addCommonFilter()"
            style="margin-top: 10px; margin-bottom: 10px;">
            <clr-icon shape="plus"></clr-icon> Add Filter
          </button>

          <!-- Common Filter Fields List -->
          <div *ngFor="let filter of commonFilterData.filters; let i = index"
            style="margin-bottom: 10px; padding: 8px; border: 1px solid #eee; border-radius: 4px; background-color: #f9f9f9;">
            <div style="display: flex; justify-content: space-between; align-items: center;">
              <span>Filter {{i + 1}}</span>
              <button class="btn btn-icon btn-danger btn-sm" (click)="removeCommonFilter(i)">
                <clr-icon shape="trash"></clr-icon>
              </button>
            </div>

            <div class="clr-row" style="margin-top: 8px;">
              <div class="clr-col-sm-5">
                <select [(ngModel)]="filter.field" [ngModelOptions]="{standalone: true}" class="clr-select">
                  <option value="">Select Field</option>
                  <option *ngFor="let column of commonFilterColumnData" [value]="column">{{column}}</option>
                </select>
              </div>

              <div class="clr-col-sm-5">
                <input type="text" [(ngModel)]="filter.value" [ngModelOptions]="{standalone: true}" class="clr-input"
                  placeholder="Filter Value" />
              </div>

              <div class="clr-col-sm-2">
                <button class="btn btn-icon btn-danger btn-sm" (click)="removeCommonFilter(i)">
                  <clr-icon shape="trash"></clr-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="commonFilterModalOpen = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="saveCommonFilter()">Save</button>
  </div>
</clr-modal>