.componentbtn{
    color: white;
    background-color: #03AC13;
    border: none;
  }
  .content-container {
    min-height: 100vh;
    height: initial;
  }
  a:hover {
  text-decoration: none;
  cursor: pointer;
  }
  .clr-checkbox{
  color: #212529;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  // padding: 0.75rem 0.75rem;
  // margin-top: 3px;
  width: 100%;
  margin-left: 20px;
  margin-bottom: 18px;
  }
  .clr-input, .clr-dropdown {
  color: #212529;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.75rem 0.75rem;
  margin-top: 3px;
  width: 100%;
  margin-bottom: 10px;
  }
  
  select{
    width: 100%;
    padding: 5px 5px;
    margin-top: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type=text],[type=date],textarea {
    width: 100%;
    padding: 15px 15px;
   // margin: 8px 0;
   background-color:rgb(255, 255, 255);
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }